<section id='home' ng-controller='HomeController'>
  <div class='post' ng-repeat=' entry in myposts'>
  <header>
    <small>{{ entry.created_at }}</small>
    <h3>{{ entry.title }}</h3>
  </header> 
  <article>
    <div>
      <p ng-bind-html-unsafe="entry.html_body | words:40:ignoreSpaces"></p>
      <ul class='large-block-grid-2 small-block-grid-2'>
        <li ng-repeat='photo in entry.post_images'>
           <img src="{{photo.attachment.url}}" />
        </li>
      </ul>
    </div>
  </article>
  <footer>
    <a ng-click='viewPost(entry.id)' class='tiny button round'> Read More </a>
  </footer>
  <hr>
  </div>
</section>