<div ng-controller='ShowPostController' id='post-body'>
  <article>
    <!-- <div ng-bind-html-unsafe="blogPost.html_body"></div> -->
    <div>
      <p>
      CoWorking can be a cool environment if you know how to network. I've been co-working at this space in Downtown St. Pete for the last month and its been pretty interesting. I like the fact that you have a place away from home that gives you that office environment - 'God I hated going to Coffee shops'. The scene here is pretty chill. I've met some cool people that work industries . The common denominator is come in and get shit done. Its great. It's also a good way keep your interpersonal skills up to par especially when the unwritten rules of work environments get broken. Diversity is also a plus. My last work environment ? All dudes - I didn't find it to be the most ideal. Yes, some programmers tend to thrive that environment - I guess I'm different. Either way its been a great experience so far. Also the sunsets from the 12th floor are freaking amazing. CoCreative is the shit.</p>
    </div>
  </article>
</div>